@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --heading-font: 'Briem Hand', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --primary-color: #032a4e;
    --secondary-color: #75bafa;
    --accent1-color: #1bdaaa;
    --accent2-color: #094939;

    --nav-background-color: #3a4b2c;
    --nav-link-color: #87a96b;
    --nav-hover-link-color: #e2eadb;
    --nav-hover-background-color: #b0c69d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

div {
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}